* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(45deg,#617C8C, #262626);
}

#conteudo-pinricpal{
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #B6E1F2 #617C8C);
    padding: 15px;
    border-radius: 5px;
    height: 400px;
    width: 250px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 1.5);
}

.text {
    border: none;
    margin: 5px;
    background-color: #F2F2F2;
    border-radius: 5px;
    color: #262626;
    height: 60px;
}

#btn-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    height: 350px;
}

#btn-box button{
    background-color:#617C8C;
    color: #262626;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    font-weight: 700;
    font-size: 18px;
}

#btn-box button:hover{
    background-color: #A63737;
    color: #F2F2F2;
}

#btn-box .number{
    background-color: #B6E1F2;
    color:#262626;
    transition: 0.4s;
    font-weight: 700;
    font-size: 18px;
}

#btn-box .number:hover{
    background-color: #A63737;
    color: #F2F2F2;
}

#btn-box #equal-btn {
    background-color: #A63737;
    color: #262626;
    grid-column: span 2;
    transition: 0.4s;
}

#btn-box #equal-btn:hover{
    background-color: #17BF60;
    color: #262626;
}